<html>
<TITLE>選擇田區</TITLE>
<meta name="viewport" content="width=device-width, initial-scale=5, maximum-scale=1, user-scalable=no">
<STYLE type=text/css> .site1mode{ position: absolute; display:none; width:15vw; }.site2mode{ position: absolute; display:none; width:15vw; }.site3mode{ position: absolute; display:none; width:15vw; }.site4mode{ position: absolute; display:none; width:15vw; } .im{ width:30vw; display:none;} .im2{
    width:25vw; display:none;} .in{ height:16%; width:23%; FONT-SIZE: 200%; POSITION: absolute; } .floatwindowbutton{
    height:20%; width:25%; POSITION: absolute; } .floatwindowbutton1{ height:10%; width:10%; POSITION: absolute; }
    .sitebutton{ width:30vw;display: none;} .ex1{ line-height: 150px; max-width: 100%; display: block; text-align:
    center; } .dd{ width: 15vw; height: 15vw; left:0; display:inline; position:absolute; } .return{width: 10vw;}
    .site5mode{ position: absolute; display:none; width:15vw; }.site6mode{ position: absolute; display:none; width:15vw; }.site7mode{ position: absolute; display:none; width:15vw; }.site8mode{ position: absolute; display:none; width:15vw; }
    </style> 
    <head>
    <SCRIPT language=javascript>function click() {if (event.button==2) {alert('不許你偷看！');}}document.onmousedown=click
    </SCRIPT>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
  
  <script src="liff-starter.js"></script>
    <script type="text/javascript" >
        var id = "1123";
        var weather = "<%-name%>";
        var control = "<%-control%>";
        //control =<%-control%>;
        var lid = '<%-lid%>';
        var myid = '';
        var mode;
        function initializeLiff() {
            setInterval(init, 10);
            //document.getElementById("ShowBox").style.display = "none";
            //document.getElementById("liffAppContent").style.display = "none";
            // document.getElementById("liffInitErrorMessage").style.display = "none";
            //obj = obj.split();
            //weather = weather.split(",");
            // control = control.split(",");
            // hourmax = hourmax.split(",");
            // hourmin = hourmin.split(",");
            // minuteset = minuteset.split(",");
            //minute_amount = minute_amount.split(",");
            //alert("start");
            userid = document.getElementById('1').innerText.split(",");
            //alert("start2");
            l = document.getElementById('length').innerText;

            // document.getElementById('ShowBox').innerHTML =userid[0]+userid.length+l+weather[1];
            document.getElementById('ShowBox').innerHTML = "start";
            liff
                .init({
                    liffId: lid
                })
                .then(() => {
                    document.getElementById('ShowBox').innerHTML = "login";
                    if (!liff.isLoggedIn()) {
                        liff.login();
                    }
                    liff.isInClient();
            liff.getOS();
             liff.getProfile()
                .then(profile => {

                   // alert("123");
                    id = profile.userId;
                    document.getElementById("ShowBox").value = id;
                    var check=0;
                    for (i = 0; i < l; i++) {

                        userid = document.getElementById(String(i)).innerText.split(",");
                        // document.getElementById('liffAppContent').innerHTML = id + control;
                        for (j = 0; j < userid.length; j++) {
                            if (userid[j] == id) {
                                var check=1;
                                 i = parseInt(i) + 1;
                                myid = i;
                                $.get("../" + i + "/weather", function (data, status) {
                                  
                                    //alert("Data: " + data + "\nStatus: " + status);
                                    mode = String(data).split(",");
                                     statuson(1,mode);
                                     statuson(2,mode);
                                     statuson(3,mode);
                                     statuson(4,mode);
                                    
                                    
                                    document.getElementById('return').style.display = "block";
                                    for (var i in mode) {
                                        i = parseInt(i) + 1;
                                      
                                        if(i<5){
                                        document.getElementById('site'+i).style.display = "block";    
                                        }
                                        else{
                                            document.getElementById('site'+i).style.display = "none";    
                                        }
                                        if(i>4){
document.getElementById('next').style.display = "block";
                                        }                                       
                                    }
                                });
                                window.addEventListener('mousedown', (event) => {
                                    //alert("go");

                                    //  setInterval(init, 10);
                                    // alert("123")
                                    mouse.x = event.pageX / document.body.clientWidth;
                                    mouse.y = event.pageY / document.body.clientWidth;
                                    document.getElementById("test").innerHTML = mouse.x + "," + mouse.y;
                                    /*
                                    if (mouse.x > 0.19 && mouse.x < 0.5 && mouse.y > 0.13 && mouse.y < 0.35) {
                                       // alert("1")
                                        document.location.href="./"+i+"/1/choosemode";
                                    }
                                    else if (mouse.x > 0.52 && mouse.x < 0.82 && mouse.y > 0.13 && mouse.y < 0.35) {
                                       // alert("2")
                                        document.location.href="./"+i+"/2/choosemode";
                                    }
                                    else if (mouse.x > 0.19 && mouse.x < 0.5 && mouse.y > 0.36 && mouse.y < 0.58) {
                                       // alert("3")
                                        document.location.href="./"+i+"/3/choosemode";
                                    }
                        
                                    else if (mouse.x > 0.52 && mouse.x < 0.82 && mouse.y > 0.36 && mouse.y < 0.58) {
                                        //alert("4")
                                        document.location.href="./"+i+"/4/choosemode";
                                    }
                                    */
                                })

                            }
                            
                        }
                    }
                   if(check==0){
                       document.getElementById('poor').style.display = "block";
                   }
                })
                .catch((err) => {
                    alert(err);
                    console.log('error', err);
                    document.getElementById('ShowBox').innerHTML = err;

                });

                    // start to use LIFF's api
                    // initializeApp();
                })
                .catch((err) => {
                    document.getElementById('ShowBox').innerHTML = err;
                    alert(err);
                    // document.getElementById("liffAppContent").classList.add('hidden');
                    // document.getElementById("liffInitErrorMessage").classList.remove('hidden');
                });

            
            document.getElementById('ShowBox').innerHTML = "get";
           
        }

    </script>
    <script type="text/javascript">
        
        let mouse = {
            x: 0,
            y: 0,
        }
        var page=1;
        window.addEventListener('mousemove', (event) => {
            mouse.x = event.pageX / document.body.clientWidth;
            mouse.y = event.pageY / document.body.clientWidth;
            document.getElementById("test").innerHTML =mouse.x +"," +mouse.y ;
        });
        function site(n) {
            if(mode[n-1]=="離線"){
                alert("設備離線..若設備已開機請稍後1~2分鐘");
            }else{
            document.location.href = "./" + myid + "/" + n + "/choosemode";
            }
           
        }
        var long;
        
        function init() {
            //  alert("2")
if(document.body.clientHeight>document.body.clientWidth){
             long=1;
        }
        else{
            long=0;
        }
            var mode1 =document.getElementsByClassName("site1mode");
            var mode2 =document.getElementsByClassName("site2mode");
            var mode3 =document.getElementsByClassName("site3mode");
            var mode4 =document.getElementsByClassName("site4mode");
            var mode5 =document.getElementsByClassName("site5mode");
            var mode6 =document.getElementsByClassName("site6mode");
            var mode7 =document.getElementsByClassName("site7mode");
            var mode8 =document.getElementsByClassName("site8mode");
             var sb =document.getElementsByClassName("sitebutton");
             var ck=document.getElementsByClassName("check");
            if(document.body.clientWidth>document.body.clientHeight){

                 document.getElementById("home").src="../../UI/choose.jpg";
                document.getElementById("home").style.width = "100vw";
                document.getElementById("home").style.display = "block";
                for (var i = 0; i < ck.length; i++) {
                ck[i].style.width ="3vw";
            }
                for (var i = 0; i < sb.length; i++) {
                sb[i].style.width ="30vw";
            }
                for (var i = 0; i < mode1.length; i++) {
               
                mode1[i].style.top = 0.32 * document.body.clientWidth;
                mode1[i].style.left = 0.22 * document.body.clientWidth;
                mode1[i].style.width = "15vw";
            }
             for (var i = 0; i < mode2.length; i++) {
               mode2[i].style.width = "15vw";
                mode2[i].style.top = 0.32 * document.body.clientWidth;
                mode2[i].style.left = 0.59 * document.body.clientWidth;
            }
             for (var i = 0; i < mode3.length; i++) {
               mode3[i].style.width = "15vw";
                mode3[i].style.top = 0.61 * document.body.clientWidth;
                mode3[i].style.left = 0.22 * document.body.clientWidth;
            }
             for (var i = 0; i < mode4.length; i++) {
               mode4[i].style.width = "15vw";
                mode4[i].style.top = 0.61 * document.body.clientWidth;
                mode4[i].style.left = 0.59 * document.body.clientWidth;
            }
       
                for (var i = 0; i < mode5.length; i++) {
               mode5[i].style.width = "15vw";
                mode5[i].style.top = 0.32 * document.body.clientWidth;
                mode5[i].style.left = 0.22 * document.body.clientWidth;
            }
             for (var i = 0; i < mode6.length; i++) {
               mode6[i].style.width = "15vw";
                mode6[i].style.top = 0.32 * document.body.clientWidth;
                mode6[i].style.left = 0.59 * document.body.clientWidth;
            }
             for (var i = 0; i < mode7.length; i++) {
               mode7[i].style.width = "15vw";
                mode7[i].style.top = 0.61 * document.body.clientWidth;
                mode7[i].style.left = 0.22 * document.body.clientWidth;
            }
             for (var i = 0; i < mode8.length; i++) {
               mode8[i].style.width = "15vw";
                mode8[i].style.top = 0.61 * document.body.clientWidth;
                mode8[i].style.left = 0.59 * document.body.clientWidth;
            }
         var posy=[0.19,0.19,0.48,0.48,0.19,0.19,0.48,0.48]
            var posx=[0.15,0.52,0.15,0.52,0.15,0.52,0.15,0.52]
             for (var i = 1; i < 9;i++) {
                document.getElementById("site"+i).style.top = posy[i-1] * document.body.clientWidth;
            document.getElementById("site"+i).style.left =posx[i-1] * document.body.clientWidth;
             document.getElementById("online"+i).style.top = posy[i-1] * document.body.clientWidth;
            document.getElementById("online"+i).style.left = posx[i-1] * document.body.clientWidth;
            document.getElementById("offline"+i).style.top = posy[i-1] * document.body.clientWidth;
            document.getElementById("offline"+i).style.left = posx[i-1] * document.body.clientWidth;
            document.getElementById("error"+i).style.top = posy[i-1] * document.body.clientWidth;
            document.getElementById("error"+i).style.left = posx[i-1] * document.body.clientWidth;
           
            }
          
            document.getElementById("next").style.top = 0.7 * document.body.clientWidth;
            document.getElementById("next").style.left = 0.8 * document.body.clientWidth;
            document.getElementById("next").style.width = "20vw";
            document.getElementById("return").style.top = 0.7 * document.body.clientWidth;
            document.getElementById("return").style.left = 0.03 * document.body.clientWidth;
             document.getElementById("return2").style.display="none";
             document.getElementById("return").style.display="block";
            }
            else{
                  document.getElementById("home").src="../../UI/choosesite_l.png";
                document.getElementById("home").style.width = "80vh";
                document.getElementById("home").style.display = "block";
                 for (var i = 0; i < ck.length; i++) {
                ck[i].style.width ="3vh";
            }
            for (var i = 0; i < sb.length; i++) {
                sb[i].style.width ="30vh";
            }
               for (var i = 0; i < mode1.length; i++) {
               mode1[i].style.width = "20vh";
                mode1[i].style.top = 0.32 * document.body.clientHeight;
                mode1[i].style.left = 0.15 * document.body.clientWidth;
            }
             for (var i = 0; i < mode2.length; i++) {
               mode2[i].style.width = "20vh";
                mode2[i].style.top = 0.32 * document.body.clientHeight;
                mode2[i].style.left = 0.57 * document.body.clientWidth;
            }
             for (var i = 0; i < mode3.length; i++) {
               mode3[i].style.width = "20vh";
                mode3[i].style.top = 0.61 * document.body.clientHeight;
                mode3[i].style.left = 0.15 * document.body.clientWidth;
            }
             for (var i = 0; i < mode4.length; i++) {
               mode4[i].style.width = "20vh";
                mode4[i].style.top = 0.61 * document.body.clientHeight;
                mode4[i].style.left = 0.57 * document.body.clientWidth;
            }
       
                for (var i = 0; i < mode5.length; i++) {
               mode5[i].style.width = "20vh";
                mode5[i].style.top = 0.32 * document.body.clientHeight;
                mode5[i].style.left = 0.15 * document.body.clientWidth;
            }
             for (var i = 0; i < mode6.length; i++) {
               mode6[i].style.width = "20vh";
                mode6[i].style.top = 0.32 * document.body.clientHeight;
                mode6[i].style.left = 0.57 * document.body.clientWidth;
            }
             for (var i = 0; i < mode7.length; i++) {
               mode7[i].style.width = "20vh";
                mode7[i].style.top = 0.61 * document.body.clientHeight;
                mode7[i].style.left = 0.15 * document.body.clientWidth;
            }
             for (var i = 0; i < mode8.length; i++) {
               mode8[i].style.width = "20vh";
                mode8[i].style.top = 0.61 * document.body.clientHeight;
                mode8[i].style.left = 0.57 * document.body.clientWidth;
            }
            var posy=[0.19,0.19,0.48,0.48,0.19,0.19,0.48,0.48]
            var posx=[0.1,0.52,0.1,0.52,0.1,0.52,0.1,0.52]
             for (var i = 1; i < 9;i++) {
                document.getElementById("site"+i).style.top = posy[i-1] * document.body.clientHeight;
            document.getElementById("site"+i).style.left =posx[i-1] * document.body.clientWidth;
             document.getElementById("online"+i).style.top = posy[i-1] * document.body.clientHeight;
            document.getElementById("online"+i).style.left = posx[i-1] * document.body.clientWidth;
            document.getElementById("offline"+i).style.top = posy[i-1] * document.body.clientHeight;
            document.getElementById("offline"+i).style.left = posx[i-1] * document.body.clientWidth;
            document.getElementById("error"+i).style.top = posy[i-1] * document.body.clientHeight;
            document.getElementById("error"+i).style.left = posx[i-1] * document.body.clientWidth;
           
            }
           
          
            document.getElementById("next").style.top = 0.76 * document.body.clientHeight;
            document.getElementById("next").style.left = 0.54 * document.body.clientWidth;
            document.getElementById("next").style.width = "20vh";
            document.getElementById("return2").style.top = 0.74 * document.body.clientHeight;
            document.getElementById("return2").style.left = 0 * document.body.clientHeight;
            
             document.getElementById("return2").style.display="block";
             document.getElementById("return").style.display="none";
         
           // document.getElementById("fertiling").style.top = 0.32 * document.body.clientWidth;
          //  document.getElementById("fertiling").style.left = 0.19 * document.body.clientWidth;
        }
        }
function statuson(site,mode){
    var i=site-1;
    var control=mode[i]
    var name="site"+site;
    
                                     if (control == "離線") {

                                        document.getElementById('offline'+site).style.display = "block";
                                        document.getElementById('online'+site).style.display = "none";
                                    }
                                    
                                    else if (control == undefined){
                                        document.getElementById('offline'+site).style.display = "none";
                                        document.getElementById('online'+site).style.display = "none";
                                    }
                                    else{
                                        document.getElementById('offline'+site).style.display = "none";
                                        document.getElementById('online'+site).style.display = "block";
                                    }
                                     if (control == "錯誤") {

                                        document.getElementById('error'+site).style.display = "block";

                                    }
                                    else {

                                        document.getElementById('error'+site).style.display = "none";
                                    }
                                    if (control == "t晴天") {

                                        document.getElementById(name+'tsunny').style.display = "block";

                                    }
                                    else {

                                        document.getElementById(name+'tsunny').style.display = "none";
                                    }
                                     if (control == "t陰天") {

                                        document.getElementById(name+'tnormal').style.display = "block";

                                    }
                                    else {

                                        document.getElementById(name+'tnormal').style.display = "none";
                                    }
                                     if (control == "t雨天") {

                                        document.getElementById(name+'trainy').style.display = "block";

                                    }
                                    else {

                                        document.getElementById(name+'trainy').style.display = "none";
                                    }
                                     if (control == "t自訂") {
                                        document.getElementById(name+'tself').style.display = "block";
                                    }
                                    else {
                                        document.getElementById(name+'tself').style.display = "none";
                                    }
                                    if (control == "晴天") {

                                        document.getElementById(name+'sunny').style.display = "block";

                                    }
                                    else {

                                        document.getElementById(name+'sunny').style.display = "none";
                                    }
                                     if (control == "陰天") {

                                        document.getElementById(name+'normal').style.display = "block";

                                    }
                                    else {

                                        document.getElementById(name+'normal').style.display = "none";
                                    }
                                     if (control == "雨天") {

                                        document.getElementById(name+'rainy').style.display = "block";

                                    }
                                    else {

                                        document.getElementById(name+'rainy').style.display = "none";
                                    }
                                     if (control == "自訂") {
                                        document.getElementById(name+'self').style.display = "block";
                                    }
                                    else {
                                        document.getElementById(name+'self').style.display = "none";
                                    }
                                    if (control == "供水") {
                                        document.getElementById(name+'water').style.display = "block";

                                    }
                                    else {
                                        document.getElementById(name+'water').style.display = "none";
                                    }

                                    if (control == "降溫") {
                                        document.getElementById(name+'temperture').style.display = "block";

                                    }
                                    else {
                                        document.getElementById(name+'temperture').style.display = "none";
                                    }
                                    if (control== "除蟲") {
                                        document.getElementById(name+'bug').style.display = "block";

                                    }
                                    else {
                                        document.getElementById(name+'bug').style.display = "none";
                                    }
                                    if (control == "噴肥") {
                                        document.getElementById(name+'fertile').style.display = "block";

                                    }
                                    else {
                                        document.getElementById(name+'fertile').style.display = "none";
                                    }
}

function change_page(p){
//alert(p);
                                $.get("../" + myid + "/weather", function (data, status) {
                                  
                                    //alert("Data: " + data + "\nStatus: " + status);
                                    mode = String(data).split(",");
                                     statuson(1,mode);
                                     statuson(2,mode);
                                     statuson(3,mode);
                                     statuson(4,mode);
                                     statuson(5,mode);
                                     statuson(6,mode);
                                     statuson(7,mode);
                                     statuson(8,mode);
                                    document.getElementById('return').style.display = "block";
                                    for (var i in mode) {
                                        i = parseInt(i) + 1;
                                    if(p==1){
                                        if(i<5){
                                        document.getElementById('site'+i).style.display = "block";    
                                        }
                                        else{
                                             var sm=document.getElementsByClassName('site'+i+'mode');
                                             document.getElementById('error'+i).style.display = "none";
                                             document.getElementById('offline'+i).style.display = "none";
                                             document.getElementById('online'+i).style.display = "none";
                                            document.getElementById('site'+i).style.display = "none";
                                            for (var j = 0; j < sm.length; j++) {
                                                sm[j].style.display = "none";
                                            }    
                                            
                                            document.getElementById('next').style.display = "block";
                                        }
                                        }
                                    else{

                                        if(i<5){
                                        document.getElementById('site'+i).style.display = "none";    
                                        document.getElementById('error'+i).style.display = "none";
                                             document.getElementById('offline'+i).style.display = "none";
                                             document.getElementById('online'+i).style.display = "none";
                                        var sm=document.getElementsByClassName('site'+i+'mode');
                                         for (var j = 0; j < sm.length; j++) {
                                            // alert("i:"+i+"   "+"j:"+j);
                                                sm[j].style.display = "none";
                                            }
                                        }
                                        else{
                                            document.getElementById('site'+i).style.display = "block";    
                                            document.getElementById('next').style.display = "none";
                                        }
                                        }
                                        //alert(i);
                                      
                                        
                                    }
                                });
}
function next(){
   page=2;
                     //document.getElementById('return').onClick = return1();
                    change_page(2);
}
function return1(){
    //alert(page)
    if(page==2){
 change_page(1);
    }
    else{
        liff.closeWindow();
    }
   
                    // document.getElementById('return').onClick = no();
                
                     }
                     function error(){
          liff.sendMessages([{
 'type':'text',
 'text':'全關'
          }])
        alert("已幫您緊急關閉設備，請再操作一次，若重複發生此錯誤，請聯絡客服或是撥打0928487050")
      }
              
    </script>
</head>

<body onload="initializeLiff();">
<span style="display:none"id="ShowBox"></span>
        <span id="test" style="display:none"> 
            </span>
        
        
        <img  id="home" style="top:0;position: relative;margin:0px auto;text-align:center;display:none"alt="Qries" src="./UI/choose.jpg">
        <img id="poor" style="position: absolute;width:50vw;top:30vh;left:25vw;display:none" src="./UI/poor.png">
         <img  class="sitebutton" id="site5"style="position: absolute;"alt="Qries" src="./UI/site5_mode.jpg" onclick="site(5)">
    <img  class="sitebutton" id="site6"style="position: absolute;"alt="Qries" src="./UI/site6_mode.jpg" onclick="site(6)">
    <img  class="sitebutton" id="site7"style="position: absolute;"alt="Qries" src="./UI/site7_mode.jpg" onclick="site(7)">
    <img  class="sitebutton" id="site8"style="position: absolute;"alt="Qries" src="./UI/site8_mode.jpg" onclick="site(8)">
    <img class="sitebutton" id="site1" style="position: absolute;"alt="Qries" src="./UI/site1_mode.jpg" onclick="site(1)">
    <img  class="sitebutton" id="site2"style="position: absolute;"alt="Qries" src="./UI/site2_mode.jpg"onclick="site(2)">
    <img  class="sitebutton" id="site3"style="position: absolute;"alt="Qries" src="./UI/site3_mode.jpg" onclick="site(3)">
    <img  class="sitebutton" id="site4"style="position: absolute;"alt="Qries" src="./UI/site4_mode.jpg" onclick="site(4)">
    
    <img  class="site1mode" id="site1sunny"style="position: absolute;display: none;"alt="Qries" src="./UI/sunny.png" >
    <img  class="site1mode" id="site1rainy"style="position: absolute;display: none;"alt="Qries" src="./UI/rainy.png" >
    <img  class="site1mode" id="site1normal"style="position: absolute;display: none;"alt="Qries" src="./UI/normal.png" >
    <img  class="site1mode" id="site1self"style="position: absolute;display: none;"alt="Qries" src="./UI/self.png" >
    <img  class="site1mode" id="site1tsunny"style="position: absolute;display: none;"alt="Qries" src="./UI/tsunny.png" >
    <img  class="site1mode" id="site1trainy"style="position: absolute;display: none;"alt="Qries" src="./UI/trainy.png" >
    <img  class="site1mode" id="site1tnormal"style="position: absolute;display: none;"alt="Qries" src="./UI/tnormal.png" >
    <img  class="site1mode" id="site1tself"style="position: absolute;display: none;"alt="Qries" src="./UI/tself.png" >
    <img  class="site1mode" id="site1bug"style="position: absolute;display: none;"alt="Qries" src="./UI/buging.png" >
    <img  class="site1mode" id="site1fertile"style="position: absolute;display: none;"alt="Qries" src="./UI/fertiling.png" >
    <img  class="site1mode" id="site1temperture"style="position: absolute;display: none;"alt="Qries" src="./UI/tempertureing.png" >
    <img  class="site1mode" id="site1water"style="position: absolute;display: none;"alt="Qries" src="./UI/watering.png" >
    <img  class="check" id="online1"style="position: absolute;display: none;"alt="Qries" src="./UI/green.jpg" >
    <img  class="check" id="offline1"style="position: absolute;display: none;"alt="Qries" src="./UI/red.jpg" >
    <img  class="sitebutton" id="error1"style="position: absolute;"alt="Qries" src="./UI/error.png" onclick="error()">
    
    <img  class="site2mode" id="site2sunny"style="position: absolute;display: none;"alt="Qries" src="./UI/sunny.png" >
    <img  class="site2mode" id="site2rainy"style="position: absolute;display: none;"alt="Qries" src="./UI/rainy.png" >
    <img  class="site2mode" id="site2normal"style="position: absolute;display: none;"alt="Qries" src="./UI/normal.png" >
    <img  class="site2mode" id="site2self"style="position: absolute;display: none;"alt="Qries" src="./UI/self.png" >
    <img  class="site2mode" id="site2tsunny"style="position: absolute;display: none;"alt="Qries" src="./UI/tsunny.png" >
    <img  class="site2mode" id="site2trainy"style="position: absolute;display: none;"alt="Qries" src="./UI/trainy.png" >
    <img  class="site2mode" id="site2tnormal"style="position: absolute;display: none;"alt="Qries" src="./UI/tnormal.png" >
    <img  class="site2mode" id="site2tself"style="position: absolute;display: none;"alt="Qries" src="./UI/tself.png" >
    <img  class="site2mode" id="site2tsunny"style="position: absolute;display: none;"alt="Qries" src="./UI/tsunny.png" >
    <img  class="site2mode" id="site2bug"style="position: absolute;display: none;"alt="Qries" src="./UI/buging.png" >
    <img  class="site2mode" id="site2fertile"style="position: absolute;display: none;"alt="Qries" src="./UI/fertiling.png" >
    <img  class="site2mode" id="site2temperture"style="position: absolute;display: none;"alt="Qries" src="./UI/tempertureing.png" >
    <img  class="site2mode" id="site2water"style="position: absolute;display: none;"alt="Qries" src="./UI/watering.png" >
    <img  class="check" id="online2"style="position: absolute;display: none;"alt="Qries" src="./UI/green.jpg" >
    <img  class="check" id="offline2"style="position: absolute;display: none;"alt="Qries" src="./UI/red.jpg" >
    <img  class="sitebutton" id="error2"style="position: absolute;"alt="Qries" src="./UI/error.png" onclick="error()">
    
    <img  class="site3mode" id="site3sunny"style="position: absolute;display: none;"alt="Qries" src="./UI/sunny.png" >
    <img  class="site3mode" id="site3rainy"style="position: absolute;display: none;"alt="Qries" src="./UI/rainy.png" >
    <img  class="site3mode" id="site3normal"style="position: absolute;display: none;"alt="Qries" src="./UI/normal.png" >
    <img  class="site3mode" id="site3self"style="position: absolute;display: none;"alt="Qries" src="./UI/self.png" >
    <img  class="site3mode" id="site3tsunny"style="position: absolute;display: none;"alt="Qries" src="./UI/tsunny.png" >
    <img  class="site3mode" id="site3trainy"style="position: absolute;display: none;"alt="Qries" src="./UI/trainy.png" >
    <img  class="site3mode" id="site3tnormal"style="position: absolute;display: none;"alt="Qries" src="./UI/tnormal.png" >
    <img  class="site3mode" id="site3tself"style="position: absolute;display: none;"alt="Qries" src="./UI/tself.png" >
    <img  class="site3mode" id="site3tsunny"style="position: absolute;display: none;"alt="Qries" src="./UI/tsunny.png" >
    <img  class="site3mode" id="site3bug"style="position: absolute;display: none;"alt="Qries" src="./UI/buging.png" >
    <img  class="site3mode" id="site3fertile"style="position: absolute;display: none;"alt="Qries" src="./UI/fertiling.png" >
    <img  class="site3mode" id="site3temperture"style="position: absolute;display: none;"alt="Qries" src="./UI/tempertureing.png" >
    <img  class="site3mode" id="site3water"style="position: absolute;display: none;"alt="Qries" src="./UI/watering.png" >
    <img  class="check" id="online3"style="position: absolute;display: none;"alt="Qries" src="./UI/green.jpg" >
    <img  class="check" id="offline3"style="position: absolute;display: none;"alt="Qries" src="./UI/red.jpg" >
    <img  class="sitebutton" id="error3"style="position: absolute;"alt="Qries" src="./UI/error.png" onclick="error()">
  
    <img  class="site4mode" id="site4sunny"style="position: absolute;display: none;"alt="Qries" src="./UI/sunny.png" >
    <img  class="site4mode" id="site4rainy"style="position: absolute;display: none;"alt="Qries" src="./UI/rainy.png" >
    <img  class="site4mode" id="site4normal"style="position: absolute;display: none;"alt="Qries" src="./UI/normal.png" >
    <img  class="site4mode" id="site4self"style="position: absolute;display: none;"alt="Qries" src="./UI/self.png" >
    <img  class="site4mode" id="site4tsunny"style="position: absolute;display: none;"alt="Qries" src="./UI/tsunny.png" >
    <img  class="site4mode" id="site4trainy"style="position: absolute;display: none;"alt="Qries" src="./UI/trainy.png" >
    <img  class="site4mode" id="site4tnormal"style="position: absolute;display: none;"alt="Qries" src="./UI/tnormal.png" >
    <img  class="site4mode" id="site4tself"style="position: absolute;display: none;"alt="Qries" src="./UI/tself.png" >
    <img  class="site4mode" id="site4tsunny"style="position: absolute;display: none;"alt="Qries" src="./UI/tsunny.png" >
    <img  class="site4mode" id="site4bug"style="position: absolute;display: none;"alt="Qries" src="./UI/buging.png" >
    <img  class="site4mode" id="site4fertile"style="position: absolute;display: none;"alt="Qries" src="./UI/fertiling.png" >
    <img  class="site4mode" id="site4temperture"style="position: absolute;display: none;"alt="Qries" src="./UI/tempertureing.png" >
    <img  class="site4mode" id="site4water"style="position: absolute;display: none;"alt="Qries" src="./UI/watering.png" >
    <img  class="check" id="online4"style="position: absolute;display: none;"alt="Qries" src="./UI/green.jpg" >
    <img  class="check" id="offline4"style="position: absolute;display: none;"alt="Qries" src="./UI/red.jpg" >
    <img  class="sitebutton" id="error4"style="position: absolute;"alt="Qries" src="./UI/error.png" onclick="error()">

    <img  class="site5mode" id="site5sunny"style="position: absolute;display: none;"alt="Qries" src="./UI/sunny.png" >
    <img  class="site5mode" id="site5rainy"style="position: absolute;display: none;"alt="Qries" src="./UI/rainy.png" >
    <img  class="site5mode" id="site5normal"style="position: absolute;display: none;"alt="Qries" src="./UI/normal.png" >
    <img  class="site5mode" id="site5self"style="position: absolute;display: none;"alt="Qries" src="./UI/self.png" >
    <img  class="site5mode" id="site5tsunny"style="position: absolute;display: none;"alt="Qries" src="./UI/tsunny.png" >
    <img  class="site5mode" id="site5trainy"style="position: absolute;display: none;"alt="Qries" src="./UI/trainy.png" >
    <img  class="site5mode" id="site5tnormal"style="position: absolute;display: none;"alt="Qries" src="./UI/tnormal.png" >
    <img  class="site5mode" id="site5tself"style="position: absolute;display: none;"alt="Qries" src="./UI/tself.png" >
    <img  class="site5mode" id="site5bug"style="position: absolute;display: none;"alt="Qries" src="./UI/buging.png" >
    <img  class="site5mode" id="site5fertile"style="position: absolute;display: none;"alt="Qries" src="./UI/fertiling.png" >
    <img  class="site5mode" id="site5temperture"style="position: absolute;display: none;"alt="Qries" src="./UI/tempertureing.png" >
    <img  class="site5mode" id="site5water"style="position: absolute;display: none;"alt="Qries" src="./UI/watering.png" >
    <img  class="check" id="online5"style="position: absolute;display: none;"alt="Qries" src="./UI/green.jpg" >
    <img  class="check" id="offline5"style="position: absolute;display: none;"alt="Qries" src="./UI/red.jpg" >
    <img  class="sitebutton" id="error5"style="position: absolute;"alt="Qries" src="./UI/error.png" onclick="error()">

    <img  class="site6mode" id="site6sunny"style="position: absolute;display: none;"alt="Qries" src="./UI/sunny.png" >
    <img  class="site6mode" id="site6rainy"style="position: absolute;display: none;"alt="Qries" src="./UI/rainy.png" >
    <img  class="site6mode" id="site6normal"style="position: absolute;display: none;"alt="Qries" src="./UI/normal.png" >
    <img  class="site6mode" id="site6self"style="position: absolute;display: none;"alt="Qries" src="./UI/self.png" >
    <img  class="site6mode" id="site6tsunny"style="position: absolute;display: none;"alt="Qries" src="./UI/tsunny.png" >
    <img  class="site6mode" id="site6trainy"style="position: absolute;display: none;"alt="Qries" src="./UI/trainy.png" >
    <img  class="site6mode" id="site6tnormal"style="position: absolute;display: none;"alt="Qries" src="./UI/tnormal.png" >
    <img  class="site6mode" id="site6tself"style="position: absolute;display: none;"alt="Qries" src="./UI/tself.png" >
    <img  class="site6mode" id="site6bug"style="position: absolute;display: none;"alt="Qries" src="./UI/buging.png" >
    <img  class="site6mode" id="site6fertile"style="position: absolute;display: none;"alt="Qries" src="./UI/fertiling.png" >
    <img  class="site6mode" id="site6temperture"style="position: absolute;display: none;"alt="Qries" src="./UI/tempertureing.png" >
    <img  class="site6mode" id="site6water"style="position: absolute;display: none;"alt="Qries" src="./UI/watering.png" >
    <img  class="check" id="online6"style="position: absolute;display: none;"alt="Qries" src="./UI/green.jpg" >
    <img  class="check" id="offline6"style="position: absolute;display: none;"alt="Qries" src="./UI/red.jpg" >
    <img  class="sitebutton" id="error6"style="position: absolute;"alt="Qries" src="./UI/error.png" onclick="error()">

    <img  class="site7mode" id="site7sunny"style="position: absolute;display: none;"alt="Qries" src="./UI/sunny.png" >
    <img  class="site7mode" id="site7rainy"style="position: absolute;display: none;"alt="Qries" src="./UI/rainy.png" >
    <img  class="site7mode" id="site7normal"style="position: absolute;display: none;"alt="Qries" src="./UI/normal.png" >
    <img  class="site7mode" id="site7self"style="position: absolute;display: none;"alt="Qries" src="./UI/self.png" >
    <img  class="site7mode" id="site7tsunny"style="position: absolute;display: none;"alt="Qries" src="./UI/tsunny.png" >
    <img  class="site7mode" id="site7trainy"style="position: absolute;display: none;"alt="Qries" src="./UI/trainy.png" >
    <img  class="site7mode" id="site7tnormal"style="position: absolute;display: none;"alt="Qries" src="./UI/tnormal.png" >
    <img  class="site7mode" id="site7tself"style="position: absolute;display: none;"alt="Qries" src="./UI/tself.png" >
    <img  class="site7mode" id="site7bug"style="position: absolute;display: none;"alt="Qries" src="./UI/buging.png" >
    <img  class="site7mode" id="site7fertile"style="position: absolute;display: none;"alt="Qries" src="./UI/fertiling.png" >
    <img  class="site7mode" id="site7temperture"style="position: absolute;display: none;"alt="Qries" src="./UI/tempertureing.png" >
    <img  class="site7mode" id="site7water"style="position: absolute;display: none;"alt="Qries" src="./UI/watering.png" >
    <img  class="check" id="online7"style="position: absolute;display: none;"alt="Qries" src="./UI/green.jpg" >
    <img  class="check" id="offline7"style="position: absolute;display: none;"alt="Qries" src="./UI/red.jpg" >
    <img  class="sitebutton" id="error7"style="position: absolute;"alt="Qries" src="./UI/error.png" onclick="error()">

    <img  class="site8mode" id="site8sunny"style="position: absolute;display: none;"alt="Qries" src="./UI/sunny.png" >
    <img  class="site8mode" id="site8rainy"style="position: absolute;display: none;"alt="Qries" src="./UI/rainy.png" >
    <img  class="site8mode" id="site8normal"style="position: absolute;display: none;"alt="Qries" src="./UI/normal.png" >
    <img  class="site8mode" id="site8self"style="position: absolute;display: none;"alt="Qries" src="./UI/self.png" >
    <img  class="site8mode" id="site8tsunny"style="position: absolute;display: none;"alt="Qries" src="./UI/tsunny.png" >
    <img  class="site8mode" id="site8trainy"style="position: absolute;display: none;"alt="Qries" src="./UI/trainy.png" >
    <img  class="site8mode" id="site8tnormal"style="position: absolute;display: none;"alt="Qries" src="./UI/tnormal.png" >
    <img  class="site8mode" id="site8tself"style="position: absolute;display: none;"alt="Qries" src="./UI/tself.png" >
    <img  class="site8mode" id="site8bug"style="position: absolute;display: none;"alt="Qries" src="./UI/buging.png" >
    <img  class="site8mode" id="site8fertile"style="position: absolute;display: none;"alt="Qries" src="./UI/fertiling.png" >
    <img  class="site8mode" id="site8temperture"style="position: absolute;display: none;"alt="Qries" src="./UI/tempertureing.png" >
    <img  class="site8mode" id="site8water"style="position: absolute;display: none;"alt="Qries" src="./UI/watering.png" >
    <img  class="check" id="online8"style="position: absolute;display: none;"alt="Qries" src="./UI/green.jpg" >
    <img  class="check" id="offline8"style="position: absolute;display: none;"alt="Qries" src="./UI/red.jpg" >
    <img  class="sitebutton" id="error8"style="position: absolute;"alt="Qries" src="./UI/error.png" onclick="error()">


    <img  id="return" style="position: absolute;width:10vw;display: none;"alt="Qries" src="./UI/return.jpg" onclick="return1()">
    <img  id="return2" style="position: absolute;width:20vh;display: none;"alt="Qries" src="./UI/return2.png" onclick="return1()">
    <img  id="next" style="position: absolute;width:20vw;display: none;"alt="Qries" src="./UI/next.png"  onclick="next()">
   
 <ul type="hidden">
<p hidden id ="length"><%=Object.keys(idlist).length%></p>  
<% for (var i in idlist) {%>
<% for (var k in idlist[i]["id"]) {%>
  <p hidden  id =<%=i%>><%=idlist[i]["id"]%></p>    
  <%}%>
  <%}%>
</ul>
</body>
</html>