<html>
<TITLE>選擇模式</TITLE>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=5, maximum-scale=1, user-scalable=no">
    <STYLE type=text/css> .mode{ position: absolute; display:none; } .im{ width:30vw; display:none;}
        .im2{ width:25vw; display:none;} .in{ height:13%; width:20%; FONT-SIZE: 150%; POSITION: absolute; }
        .floatwindowbutton{ height:20%; width:25%; POSITION: absolute; } .floatwindowbutton1{  width:10 vw;
        POSITION: absolute; } .homebutton{ width:30vw;} .ex1{ line-height: 150px; max-width: 100%; display: block;
        text-align: center; } .dd{ width: 15vw; height: 15vw; left:0; display:inline; position:absolute; }
        #return{width: 10vw;} #site{position:absolute;width:35vw;}</style> <STYLE type=text/css> HTML { HEIGHT: 100% }
        BODY { HEIGHT: 100% } BODY { FONT-SIZE: 1.4em; FONT-FAMILY: Tahoma, Verdana, sans-serif } DIV.neat-dialog-cont {
        Z-INDEX: 98; BACKGROUND: none transparent scroll repeat 0% 0%; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP:
        0px; HEIGHT: 100% } DIV.neat-dialog-bg { Z-INDEX: -1; FILTER: alpha(opacity=70); LEFT: 0px; WIDTH: 100%;
        POSITION: absolute; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #eee; opacity: 0.7 } DIV.neat-dialog {
        BORDER-RIGHT: #555 1px solid; BORDER-TOP: #555 1px solid; Z-INDEX: 99; MARGIN-LEFT: auto; BORDER-LEFT: #555 1px
        solid; HEIGHT: 47.5vw; WIDTH: 70vw; MARGIN-RIGHT: auto; BORDER-BOTTOM: #555 1px solid; POSITION: relative; TOP:
        10%; BACKGROUND-COLOR: #fff } DIV.neat-dialog-title { PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; FONT-SIZE:200%;
        PADDING-BOTTOM: 0.1em; MARGIN: 0px; LINE-HEIGHT: 1.2em; HEIGHT: 10%; PADDING-TOP: 0.1em; BORDER-BOTTOM: #444 1px
        solid; POSITION: relative } IMG.nd-cancel { RIGHT: 0.2em; POSITION: absolute; TOP: 0.2em } DIV.neat-dialog P {
        PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em; TEXT-ALIGN: center }
        </STYLE> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
       
   


    <script type="text/javascript">
        var id = "<%-userid%>";
        var site = "<%-siteid%>";
        
        var hourmax = "<%-hourmax%>";
        var hourmin = "<%-hourmin%>";
        var minuteset = "<%-minuteset%>";
        var minute_amount = "<%-minute_amount%>";
        var thourmax = "<%-thourmax%>";
        var thourmin = "<%-thourmin%>";
        var tminuteset = "<%-tminuteset%>";
        var tminute_amount = "<%-tminute_amount%>";
        var  long;
       
    
        function NeatDialog(sHTML, sTitle, bCancel) {
            window.neatDialog = null;
            this.elt = null;
            if (document.createElement && document.getElementById) {
                var dg = document.createElement("div");
                dg.className = "neat-dialog";
                if (sTitle)
                    sHTML = '<div class="neat-dialog-title">' + sTitle +
                        ((bCancel) ?
                            '<img src="x.gif" alt="Cancel" class="nd-cancel" />' : '') +
                        '</div>\n' + sHTML;
                dg.innerHTML = sHTML;
                var dbg = document.createElement("div");
                dbg.id = "nd-bdg";
                dbg.className = "neat-dialog-bg";
                var dgc = document.createElement("div");
                dgc.className = "neat-dialog-cont";
                dgc.appendChild(dbg);
                dgc.appendChild(dg);
                if (document.body.offsetLeft > 0)
                    dgc.style.marginLeft = document.body.offsetLeft + "px";
                document.body.appendChild(dgc);
                if (bCancel) document.getElementById("nd-cancel").onclick = function () {
                    window.neatDialog.close();
                };
                this.elt = dgc;
                window.neatDialog = this;
            }
        }
        NeatDialog.prototype.close = function () {
            if (this.elt) {
                this.elt.style.display = "none";
                this.elt.parentNode.removeChild(this.elt);
            }
            window.neatDialog = null;
        }
        function openDialog() {
            opend1 = 1;
            //alert(long)
            
            if(long==1){
                var sHTML = '<image  img src=../../UI/advancedhome.png style="top:0vh;left:1vw;width:98%;position:absolute">' +
                '<p><img style="top:0;right:0;width:5vh;position:absolute"src="../../image/close.jpg" onclick="dclose();"></p>';

            new NeatDialog(sHTML, false, false);
                document.getElementsByClassName("neat-dialog")[0].style.width="70vh";
                document.getElementsByClassName("neat-dialog")[0].style.height="47.5vh";
                            
            }
            else{
                var sHTML = '<image  img src=../../UI/advancedhome.png style="top:0vh;left:1vw;width:98%;position:absolute">' +
                '<p><img style="top:0;right:0;width:5vw;position:absolute"src="../../image/close.jpg" onclick="dclose();"></p>';

            new NeatDialog(sHTML, false, false);
                document.getElementsByClassName("neat-dialog")[0].style.width="70vw";   
                document.getElementsByClassName("neat-dialog")[0].style.height="47.5vw"; 
                            
            }
            
        }
          function openDialogt() {
            opend1 = 2;
           // alert(opend1)
                
            if(long==1){
                var sHTML = '<image  img src=../../UI/tselfhome.png style="top:0vh;left:1vw;width:98%;position:absolute">' +
                '<p><img style="top:0;right:0;width:5vh;position:absolute"src="../../image/close.jpg" onclick="dclose();"></p>';

            new NeatDialog(sHTML, false, false);
                document.getElementsByClassName("neat-dialog")[0].style.width="70vh";
                document.getElementsByClassName("neat-dialog")[0].style.height="47.5vh";
                            
            }
            else{
                var sHTML = '<image  img src=../../UI/tselfhome.png style="top:0vh;left:1vw;width:98%;position:absolute">' +
                '<p><img style="top:0;right:0;width:5vw;position:absolute"src="../../image/close.jpg" onclick="dclose();"></p>';

            new NeatDialog(sHTML, false, false);
                document.getElementsByClassName("neat-dialog")[0].style.width="70vw";   
                document.getElementsByClassName("neat-dialog")[0].style.height="47.5vw"; 
                            
            }
        }
        function dclose(){
                        opend1 = 0;
            window.neatDialog.close();
        }
        function openDialog2() {
         
            if(long==1){
                var sHTML = '<form style="" name="theForm" id="set" action="/' + id +'/'+site+ '/self">' +
                '<image  img src=../../image/selfmenu.jpg style="top:5vw;left:1vw;width:98%;position:absolute">' +
                '<input id="hour" style="left:16.5vh;top:13.5vh"class ="in" type="text" name="hourmin" value=' + hourmin + '></input>' +
                '<input class ="in" style="right:8vh;top:13.5vh"type="text" name="hourmax" value=' + hourmax + '></input>' +
                '<input class ="in" style="left:20vh;top:20vh"type="text" name="minuteset" value=' + minuteset + '></input>' +
                '<input class ="in" style="right:4vh;top:20vh"type="text" name="minute_amount" value=' + minute_amount + '></input>' +
                '<button class ="floatwindowbutton" onclick="limit()"style="margin:0px auto;text-align:center;bottom:0;left:38%;position:absolute" type="button" value="確定" ><img  style="top:0;left:0;width:100%;height:100%;position:absolute" src="../../image/certain.jpg"></button>' +
                '<p><img style="top:0;right:0;width:5vw;position:absolute"src="../../image/close.jpg" onclick="dclose()"></p>'+
                '</form>';
            new NeatDialog(sHTML, false, false);
                document.getElementsByClassName("neat-dialog")[0].style.width="70vh";
                document.getElementsByClassName("neat-dialog")[0].style.height="40vh";
                            
            }
            else{
                var sHTML = '<form style="width:98%;" name="theForm" id="set" action="/' + id +'/'+site+ '/self">' +
                '<image  img src=../../image/selfmenu.jpg style="top:5vw;left:1vw;width:98%;position:absolute">' +
                '<input id="hour" style="left:17vw;top:13.5vw"class ="in" type="text" name="hourmin" value=' + hourmin + '></input>' +
                '<input class ="in" style="right:8vw;top:13.5vw"type="text" name="hourmax" value=' + hourmax + '></input>' +
                '<input class ="in" style="left:20vw;top:20vw"type="text" name="minuteset" value=' + minuteset + '></input>' +
                '<input class ="in" style="right:4vw;vw;top:20vw"type="text" name="minute_amount" value=' + minute_amount + '></input>' +
                '<button class ="floatwindowbutton" onclick="limit()"style="margin:0px auto;text-align:center;bottom:2vw;left:38%;position:absolute" type="button" value="確定" ><img  style="top:0;left:0;width:100%;height:100%;position:absolute" src="../../image/certain.jpg"></button>' +
                '<p><img style="top:0;right:0;width:5vw;position:absolute"src="../../image/close.jpg" onclick="dclose()"></p>'+
                '</form>';
            new NeatDialog(sHTML, false, false);
                document.getElementsByClassName("neat-dialog")[0].style.width="70vw";   
                document.getElementsByClassName("neat-dialog")[0].style.height="47.5vw"; 
                            
            }
            
        }
         function openDialogt2() {
            if(long==1){
                var sHTML = '<form style="" name="theForm" id="set" action="/' + id +'/'+site+ '/tself">' +
                '<image  img src=../../image/selfmenu.jpg style="top:5vw;left:1vw;width:98%;position:absolute">' +
                '<input id="hour" style="left:16.5vh;top:13.5vh"class ="in" type="text" name="hourmin" value=' + thourmin + '></input>' +
                '<input class ="in" style="right:8vh;top:13.5vh"type="text" name="hourmax" value=' + thourmax + '></input>' +
                '<input class ="in" style="left:20vh;top:20vh"type="text" name="minuteset" value=' + tminuteset + '></input>' +
                '<input class ="in" style="right:4vh;top:20vh"type="text" name="minute_amount" value=' + tminute_amount + '></input>' +
                '<button class ="floatwindowbutton" onclick="limit()"style="margin:0px auto;text-align:center;bottom:0;left:38%;position:absolute" type="button" value="確定" ><img  style="top:0;left:0;width:100%;height:100%;position:absolute" src="../../image/certain.jpg"></button>' +
                '<p><img style="top:0;right:0;width:5vw;position:absolute"src="../../image/close.jpg" onclick="dclose()"></p>'+
                '</form>';
            new NeatDialog(sHTML, false, false);
                document.getElementsByClassName("neat-dialog")[0].style.width="70vh";
                document.getElementsByClassName("neat-dialog")[0].style.height="40vh";
                            
            }
            else{
                var sHTML = '<form style="width:98%;" name="theForm" id="set" action="/' + id +'/'+site+ '/tself">' +
                '<image  img src=../../image/selfmenu.jpg style="top:5vw;left:1vw;width:98%;position:absolute">' +
                '<input id="hour" style="left:17vw;top:13.5vw"class ="in" type="text" name="hourmin" value=' + thourmin + '></input>' +
                '<input class ="in" style="right:8vw;top:13.5vw"type="text" name="hourmax" value=' + thourmax + '></input>' +
                '<input class ="in" style="left:20vw;top:20vw"type="text" name="minuteset" value=' + tminuteset + '></input>' +
                '<input class ="in" style="right:4vw;vw;top:20vw"type="text" name="minute_amount" value=' + tminute_amount + '></input>' +
                '<button class ="floatwindowbutton" onclick="tlimit()"style="margin:0px auto;text-align:center;bottom:2vw;left:38%;position:absolute" type="button" value="確定" ><img  style="top:0;left:0;width:100%;height:100%;position:absolute" src="../../image/certain.jpg"></button>' +
                '<p><img style="top:0;right:0;width:5vw;position:absolute"src="../../image/close.jpg" onclick="dclose()"></p>'+
                '</form>';
            new NeatDialog(sHTML, false, false);
                document.getElementsByClassName("neat-dialog")[0].style.width="70vw";   
                document.getElementsByClassName("neat-dialog")[0].style.height="47.5vw"; 
                            
            }
        }
        function checkRate(nubmer) {
                //判斷正整數/[1−9]+[0−9]∗]∗/
                var re = /^[0-9]+.?[0-9]*/;//
                if (!re.test(nubmer)) {
                    return false;
                }
                return true;
            }
        function limit(){
          var frm = document.forms["theForm"];
                // alert(frm.hourmin.value);
                try {
                    var hourmax = parseInt(frm.hourmax.value);
                    var hourmin = parseInt(frm.hourmin.value);
                    var minuteset = parseInt(frm.minuteset.value);
                    var minute_amount = parseInt(frm.minute_amount.value);
                    //alert(typeof(minute_amount)); 
                    if (hourmin > hourmax || hourmin > 24 || hourmax > 24 || hourmin < 0 || hourmax < 0) {
                        alert("發生錯誤..時間為24小時制喔!");
                    } else if (minuteset < minute_amount) {
                        alert("持續時間不能大於間隔時間喔!");
                    }
                    else if (checkRate(frm.hourmin.value) == false || checkRate(hourmax) == false || checkRate(minuteset) == false || checkRate(minute_amount) == false) {
                        alert("你一定再跟我開玩笑~");
                    }
                    else {
                        alert("ok");
                        frm.submit();
                    }
                }
                catch (err) {
                    alert("你一定再跟我開玩笑~" + err);
                }
        }
         function tlimit() {
                var frm = document.forms["theForm"];
                // alert(frm.hourmin.value);
                try {
                    var hourmax = parseInt(frm.hourmax.value);
                    var hourmin = parseInt(frm.hourmin.value);
                    var minuteset = parseInt(frm.minuteset.value);
                    var minute_amount = parseInt(frm.minute_amount.value);
                    //alert(typeof(minute_amount)); 
                    if (hourmin > hourmax || hourmin > 24 || hourmax > 24 || hourmin < 0 || hourmax < 0) {
                        alert("發生錯誤..時間為24小時制喔!");
                    } else if (minuteset < minute_amount) {
                        alert("持續時間不能大於間隔時間喔!");
                    }
                    else if (checkRate(frm.hourmin.value) == false || checkRate(hourmax) == false || checkRate(minuteset) == false || checkRate(minute_amount) == false) {
                        alert("你一定再跟我開玩笑~");
                    }
                    else {
                        frm.submit();
                    }
                }
                catch (err) {
                    alert("你一定再跟我開玩笑~" + err);
                }
            }
        let mouse = {
            x: 0,
            y: 0,
        }
        var opend1 = 0;
        var siteurl="";
        var sitemodeurl="";
        
        window.addEventListener('mousemove', (event) => {
            if(document.body.clientWidth>document.body.clientHeight){
                mouse.x = event.pageX / document.body.clientWidth;
            mouse.y = event.pageY / document.body.clientWidth;
            }
            else{
                mouse.x = event.pageX / document.body.clientHeight;
            mouse.y = event.pageY / document.body.clientHeight;
            }
            document.getElementById("test").innerHTML = mouse.x + "," + mouse.y;
        });
        window.addEventListener('mousedown', (event) => {
           // alert("user:"+id+"s:"+site);
            
            // alert("123")
            //mouse.x = event.pageX / document.body.clientWidth;
            //mouse.y = event.pageY / document.body.clientWidth;
            document.getElementById("test").innerHTML = mouse.x + "," + mouse.y;
           
          advancedfunc();
        })
       
        function initial(){
             var l = document.getElementById('length').innerText;
             liff
  .init({
    liffId: '<%-lid%>' // use own liffId
  })
  .then(() => {
       if (!liff.isLoggedIn()) {
  window.location.href= "../../home";
}
liff.getProfile()
.then(profile => {
  var id = profile.userId;
  var checklogin=0;
  for (i = 0; i < l; i++) {

    var lineid = document.getElementById(String(i)).innerText.split(",");
         if(id==lineid){
    checklogin=1;
}
  }
  if(checklogin==0){
    window.location.href= "../../home";
}
    // Start to use liff's api
  })
  .catch((err) => {
  alert( err);
});
})
.catch((err) => {
    // Error happens during initialization
    alert(err);
  });
            // alert(hourmin);
 setInterval(init, 100);
 setInterval(getstatus, 500);
 if(site==1){
siteurl="../../UI/site"+site+".png";
sitemodeurl="../../UI/site"+site+"_mode.jpg";
            }
            else{
                siteurl="../../UI/site"+site+".jpg";
sitemodeurl="../../UI/site"+site+"_mode.jpg";
            }
            if(site>=5){
siteurl="../../UI/site"+site+".png";
            }
        }
var weather = "";
             var control = "";
             var mode;
             function getstatus(){
  $.get("../../" + id+"/control", function (data, status) {
                 mode = String(data).split(",");
                 control=mode[site-1];
                 
                     });
                     $.get("../../" + id+"/weather", function (data, status) {
                 weather = String(data).split(",");
                 weather=weather[site-1];
                     });
             }
        function init() {
            if(document.body.clientHeight>document.body.clientWidth){
             long=1;
        }
        else{
            long=0;
        }
              //alert("2")
            // document.location.href="";
             var mb = document.getElementsByClassName("modebutton");
            var ad = document.getElementsByClassName("advanced");
            var st =document.getElementsByClassName("status");
            var md =document.getElementsByClassName("mode");
           if(document.body.clientWidth>document.body.clientHeight){
            document.getElementById("home").src="../../UI/choosemode.png";
            document.getElementById("home").style.width = "100vw";
            document.getElementById("home").style.display = "block";
            for (var i = 0; i < md.length; i++) {
                md[i].style.width="20vw";
              md[i].style.top = 0.46 * document.body.clientWidth;
              md[i].style.left = 0.29 * document.body.clientWidth;
          }
            for (var i = 0; i < st.length; i++) {
                st[i].style.width="20vw";
                st[i].style.top = 0.48 * document.body.clientWidth;
                st[i].style.left = 0.65 * document.body.clientWidth;
            }
            for (var i = 0; i < mb.length; i++) {
                if(i>=0 && i<=1){
                    mb[i].style.left=0.09 * document.body.clientWidth; 
                    mb[i].style.width="15vw";
                }
                if(i>=2 && i<=3){
                    mb[i].style.width="15vw";
                    mb[i].style.left=0.30 * document.body.clientWidth; 
                }
                if(i>=4 && i<=5){
                    mb[i].style.width="15vw";
                    mb[i].style.left=0.51 * document.body.clientWidth; 
                }
                if(i>=6 && i<=7){
                    mb[i].style.width="15vw";
                    mb[i].style.left=0.72 * document.body.clientWidth; 
                }
                mb[i].style.top = 0.16 * document.body.clientWidth;
            }
            for (var i = 0; i < ad.length; i++) {
                if(i==0 ){
                    ad[i].style.left=0.09 * document.body.clientWidth; 
                }
                if(i==1){
                    ad[i].style.left=0.30 * document.body.clientWidth; 
                }
                ad[i].style.top = 0.29 * document.body.clientWidth;
                ad[i].style.width="15vw";
                ad[i].style.display="block";
            }
            document.getElementById("return").style.top = 0.4 * document.body.clientWidth;
            document.getElementById("return").style.left = 0.1 * document.body.clientWidth;
            document.getElementById("return").style.width ="10vw";
            document.getElementById("site").style.top = 0.35 * document.body.clientWidth;
            document.getElementById("site").style.left = 0.58 * document.body.clientWidth;
            document.getElementById("site").src = siteurl;
            document.getElementById("site").style.width ="30vw";
            document.getElementById("sitemode").style.width = "30vw";
            document.getElementById("sitemode").style.top = 0.35 * document.body.clientWidth;
            document.getElementById("sitemode").style.left = 0.24 * document.body.clientWidth;
            document.getElementById("sitemode").src = sitemodeurl;
             document.getElementById("site").style.display = "block";
             document.getElementById("sitemode").style.display = "block";
            document.getElementById("return").style.display = "block";
             }
             else{
                
                
                document.getElementById("home").src="../../UI/choosemode_l.png";
                document.getElementById("home").style.width = "80vh";
                document.getElementById("home").style.display = "block";
                
                // alert("ok")
                for (var i = 0; i < md.length; i++) {
                    md[i].style.width="20vh";
              md[i].style.top = 0.85 * document.body.clientHeight;
              md[i].style.left = 0.13 * document.body.clientHeight;
          }
            for (var i = 0; i < st.length; i++) {
                st[i].style.width="25vh";
                st[i].style.top = 0.85 * document.body.clientHeight;
                st[i].style.left = 0.53 * document.body.clientHeight;
            }
            for (var i = 0; i < mb.length; i++) {
                if(i>=4 && i<=5){
                    mb[i].style.left=0.17 * document.body.clientHeight; ;
                    mb[i].style.width="25vh";
                    mb[i].style.top = 0.2 * document.body.clientHeight;
                }
                if(i>=6 && i<=7){
                    mb[i].style.width="25vh";
                    mb[i].style.left=0.45 * document.body.clientHeight; ;
                    mb[i].style.top = 0.2 * document.body.clientHeight;
                }
                if(i>=0 && i<=1){
                    mb[i].style.width="25vh";
                    mb[i].style.left=0.17 * document.body.clientHeight; ;
                    mb[i].style.top = 0.4 * document.body.clientHeight;
                }
                if(i>=2 && i<=3){
                    mb[i].style.width="25vh";
                    mb[i].style.left=0.45 * document.body.clientHeight; ;
                    mb[i].style.top = 0.4 * document.body.clientHeight;
                }
                
            }
            for (var i = 0; i < ad.length; i++) {
                if(i==0 ){
                    ad[i].style.left=0.17 * document.body.clientHeight; ;
                }
                if(i==1){
                    ad[i].style.left=0.45 * document.body.clientHeight; ;
                }
                ad[i].style.top = 0.6 * document.body.clientHeight;
                ad[i].style.width="25vh";
                ad[i].style.display="block";
            }
            document.getElementById("return").style.top = 0.5 * document.body.clientHeight;
            document.getElementById("return").style.left = 0.05 * document.body.clientHeight;
            document.getElementById("return").style.width = "10vh";
            document.getElementById("site").style.top = 0.7 * document.body.clientHeight;
            document.getElementById("site").style.left = 0.45 * document.body.clientHeight;
            document.getElementById("site").src = siteurl;
            document.getElementById("site").style.width ="35vh";
            document.getElementById("sitemode").style.width = "35vh";
           
            document.getElementById("sitemode").style.top = 0.7 * document.body.clientHeight;
            document.getElementById("sitemode").style.left = 0.07 * document.body.clientHeight;
            document.getElementById("sitemode").src = sitemodeurl;
            document.getElementById("site").style.display = "block";
             document.getElementById("sitemode").style.display = "block";
            document.getElementById("return").style.display = "block";
             }
           
                     if(weather=="晴天" || weather=="雨天" || weather=="自訂" || weather=="陰天"  || weather=="供水"){
                document.getElementById("wateron").style.display= "block";
                 document.getElementById("water").style.display= "none";
                 
            }
            else{
                document.getElementById("water").style.display= "block";
                document.getElementById("wateron").style.display= "none";
            }
            if(weather=="t晴天" || weather=="t雨天" || weather=="t自訂" || weather=="t陰天"  || weather=="降溫"){
                document.getElementById("tempertureon").style.display= "block";
                 document.getElementById("temperture").style.display= "none";
            }
            else{
                document.getElementById("temperture").style.display= "block";
                document.getElementById("tempertureon").style.display= "none";
            }
            if(weather=="除蟲"){
                document.getElementById("bugon").style.display= "block";
                document.getElementById("bug").style.display= "none";
                document.getElementById("buging").style.display= "block";
            }
            else{
                document.getElementById("bug").style.display= "block";
                document.getElementById("bugon").style.display= "none";
                document.getElementById("buging").style.display= "none";
            }
            if(weather=="噴肥"){
                document.getElementById("fertileon").style.display= "block";
                 document.getElementById("fertile").style.display= "none";
                 document.getElementById("fertiling").style.display= "block";
            }
            
            else{
                document.getElementById("fertile").style.display= "block";
                document.getElementById("fertileon").style.display= "none";
                document.getElementById("fertiling").style.display= "none";
            }
             if(weather=="供水"){
                    document.getElementById("watering").style.display= "block";
                 }
                 else{
                    document.getElementById("watering").style.display= "none";
                 }
            if(weather=="降溫"){
                    document.getElementById("tempertureing").style.display= "block";
                 }
                 else{
                    document.getElementById("tempertureing").style.display= "none";
                 }
                  if(weather=="晴天"){
                    document.getElementById("sunny").style.display= "block";
                 }
                 else{
                    document.getElementById("sunny").style.display= "none";
                 }
                 if(weather=="雨天"){
                    document.getElementById("rainy").style.display= "block";
                 }
                 else{
                    document.getElementById("rainy").style.display= "none";
                 }
                 if(weather=="陰天"){
                    document.getElementById("normal").style.display= "block";
                 }
                 else{
                    document.getElementById("normal").style.display= "none";
                 }
                 if(weather=="自訂"){
                    document.getElementById("self").style.display= "block";
                 }
                 else{
                    document.getElementById("self").style.display= "none";
                 }
                 if(weather=="t晴天"){
                    document.getElementById("tsunny").style.display= "block";
                 }
                 else{
                    document.getElementById("tsunny").style.display= "none";
                 }
                 if(weather=="t雨天"){
                    document.getElementById("trainy").style.display= "block";
                 }
                 else{
                    document.getElementById("trainy").style.display= "none";
                 }
                 if(weather=="t陰天"){
                    document.getElementById("tnormal").style.display= "block";
                 }
                 else{
                    document.getElementById("tnormal").style.display= "none";
                 }
                 if(weather=="t自訂"){
                    document.getElementById("tself").style.display= "block";
                 }
                 else{
                    document.getElementById("tself").style.display= "none";
                 }
            if (control == "0") {

                                        document.getElementById('stopimg').style.display = "block";

                                    }
                                    else {

                                        document.getElementById('stopimg').style.display = "none";

                                    }
                                    if (control == "1") {
                                        document.getElementById('waterimg').style.display = "block";

                                    }
                                    else {
                                        document.getElementById('waterimg').style.display = "none";
                                    }

                                    if (control == "2") {
                                        document.getElementById('tempertureimg').style.display = "block";

                                    }
                                    else {
                                        document.getElementById('tempertureimg').style.display = "none";
                                    }
                                    if (control== "3") {
                                        document.getElementById('bugimg').style.display = "block";

                                    }
                                    else {
                                        document.getElementById('bugimg').style.display = "none";
                                    }
                                    if (control == "4") {
                                        document.getElementById('fertileimg').style.display = "block";

                                    }
                                    else {
                                        document.getElementById('fertileimg').style.display = "none";
                                    }
                     // document.getElementById("test").innerHTML=control+weather
                     
           //  alert(weather+control)
            

        }
        function advancedfunc(){
            //alert(long)
            if(long==1){
                if(opend1==1){
                if (mouse.x > 0.12 && mouse.x < 0.37 && mouse.y > 0.21 && mouse.y < 0.34) {
                    if (confirm("中午十二點供水一次")){
                        $.get("../../zhengtian/" + id+"/"+site + "/rainy", function (data, status) {
                     });
                    }
                     
                
                //document.location.href="../../sunny";
            }
            else if (mouse.x > 0.42 && mouse.x < 0.67 && mouse.y > 0.22 && mouse.y < 0.35) {
                if(confirm("早上九點、中午十二點、下午三點各供水一次")){
                    $.get("../../zhengtian/" + id+"/"+site + "/normal", function (data, status) {
                     });
                }
                // document.location.href="../../rainy";
            }
            else if (mouse.x > 0.12 && mouse.x < 0.37 && mouse.y > 0.38 && mouse.y < 0.52) {
                  
               if(confirm("早上六點至晚上六點每半小時供水一次")){
                    $.get("../../zhengtian/" + id+"/"+site + "/sunny", function (data, status) {
                     });
               }
                // document.location.href="../../normal";
            }

            else if (mouse.x > 0.42 && mouse.x < 0.67 && mouse.y > 0.38 && mouse.y < 0.52) {
               
                  $.get("../../zhengtian/" + id+"/"+site + "/self", function (data, status) {
                     });
               
                dclose();

                openDialog2();
                // document.location.href="../../self";
            }
            }
            else if(opend1==2){
                if (mouse.x > 0.12 && mouse.x < 0.37 && mouse.y > 0.21 && mouse.y < 0.35) {
                    if(confirm("中午十二點降溫一次")){
                     $.get("../../zhengtian/" + id+"/"+site + "/trainy", function (data, status) {
                     });
                    }
            
                //document.location.href="../../sunny";
            }
            else if (mouse.x > 0.42 && mouse.x < 0.67 && mouse.y > 0.22 && mouse.y < 0.35) {
                 if(confirm("早上九點、中午十二點、下午三點各降溫一次")){
                $.get("../../zhengtian/" + id+"/"+site + "/tnormal", function (data, status) {
                     });
                 }
              
                // document.location.href="../../rainy";
            }
            else if (mouse.x > 0.12 && mouse.x < 0.37 && mouse.y > 0.38 && mouse.y < 0.52) {
                 if(confirm("早上六點至晚上六點每半小時降溫一次")){
                  $.get("../../zhengtian/" + id+"/"+site + "/tsunny", function (data, status) {
                     });
                 }
                // document.location.href="../../normal";
            }

            else if (mouse.x > 0.42 && mouse.x < 0.67 && mouse.y > 0.38 && mouse.y < 0.52) {
                
                  $.get("../../zhengtian/" + id+"/"+site + "/tself", function (data, status) {
                     });
                
                dclose();

                openDialogt2();
                // document.location.href="../../self";
            }
            }
            }else{
                if(opend1==1){
                if (mouse.x > 0.21 && mouse.x < 0.47 && mouse.y > 0.17 && mouse.y < 0.3) {
                    if(confirm("中午十二點供水一次")){
                     $.get("../../zhengtian/" + id+"/"+site + "/rainy", function (data, status) {
                     });
                    }
                //document.location.href="../../sunny";
            }
            else if (mouse.x > 0.51 && mouse.x < 0.77 && mouse.y > 0.17 && mouse.y < 0.3) {
                 if(confirm("早上九點、中午十二點、下午三點各供水一次")){
                $.get("../../zhengtian/" + id+"/"+site + "/normal", function (data, status) {
                     });
                 }
           
                // document.location.href="../../rainy";
            }
            else if (mouse.x > 0.21 && mouse.x < 0.47 && mouse.y > 0.36 && mouse.y < 0.48) {
                if(confirm("早上六點至晚上六點每半小時供水一次")){
                  $.get("../../zhengtian/" + id+"/"+site + "/sunny", function (data, status) {
                     });
                }
                // document.location.href="../../normal";
            }

            else if (mouse.x > 0.51 && mouse.x < 0.77 && mouse.y > 0.36 && mouse.y < 0.48) {
                  
                  $.get("../../zhengtian/" + id+"/"+site + "/self", function (data, status) {
                     });
       
                dclose();

                openDialog2();
                // document.location.href="../../self";
            }
            }
            else if(opend1==2){
                if (mouse.x > 0.21 && mouse.x < 0.47 && mouse.y > 0.17 && mouse.y < 0.3) {
                    if(confirm("中午十二點降溫一次")){
                     $.get("../../zhengtian/" + id+"/"+site + "/trainy", function (data, status) {
                     });
                    }
                
                //document.location.href="../../sunny";
            }
            else if (mouse.x > 0.51 && mouse.x < 0.77 && mouse.y > 0.17 && mouse.y < 0.3) {
                 if(confirm("早上九點、中午十二點、下午三點各降溫一次")){
                $.get("../../zhengtian/" + id+"/"+site + "/tnormal", function (data, status) {
                     });
                 }
                // document.location.href="../../rainy";
            }
            else if (mouse.x > 0.21 && mouse.x < 0.47 && mouse.y > 0.36 && mouse.y < 0.48) {
                 if(confirm("早上六點至晚上六點每半小時降溫一次")){
                  $.get("../../zhengtian/" + id+"/"+site + "/tsunny", function (data, status) {
                     });
                 }
         
                // document.location.href="../../normal";
            }

            else if (mouse.x > 0.51 && mouse.x < 0.77 && mouse.y > 0.36 && mouse.y < 0.48) {
               
                  $.get("../../zhengtian/" + id+"/"+site + "/tself", function (data, status) {
                     });
                
      
                dclose();

                openDialogt2();
                // document.location.href="../../self";
            }
            }
            }
            
            
          
        }
        
function getmode(mode){
    if(confirm("要立即開啟此模式嗎?")){
$.get("../../zhengtian/" + id+"/"+site + "/"+mode, function (data, status) {
                     });
    }
}
function stop(n){
   // alert("ok");
   if(confirm("要停止現在模式嗎?")){
$.get("../../zhengtian/" + id+"/"+site + "/s", function (data, status) {
                     });
}
}

      function returnbutton(){
        document.location.href="../../home";
      }
    </script>
</head>

<body onload="initial()">
        <span id="test" style="display:none"> 
            </span>
    <img   id="home" style="top:0;position: relative;margin:0px auto;text-align:center;display: none;"alt="Qries" >
    <img class="modebutton" id="water" style="position: absolute;width: 20vw;display: none;"alt="Qries" src = "../../UI/water.jpg"onclick="getmode('water')" >
    <img class="modebutton" id="wateron" style="position: absolute;width: 20vw;display: none;"alt="Qries" src = "../../UI/wateron.jpg"onclick="stop('3')" >
    <img  class="modebutton" id="temperture"style="position: absolute;width: 20vw;display: none;"alt="Qries" src="../../UI/temperture.jpg"onclick="getmode('temperture')" >
    <img  class="modebutton" id="tempertureon"style="position: absolute;width: 20vw;display: none;"alt="Qries" src="../../UI/tempertureon.jpg" onclick="stop('4')" >
    <img  class="modebutton" id="fertile"style="position: absolute;width: 20vw;display: none;"alt="Qries" src = "../../UI/fertile.jpg" onclick="getmode('fertile')" >
    <img  class="modebutton" id="fertileon"style="position: absolute;width: 20vw;display: none;"alt="Qries" src = "../../UI/fertileon.jpg" onclick="stop('1')" >
    <img  class="modebutton" id="bug"style="position: absolute;width: 20vw;display: none;"alt="Qries"  src = "../../UI/bug.jpg" onclick="getmode('bug')">
    <img  class="modebutton" id="bugon"style="position: absolute;width: 20vw;display: none;"alt="Qries"  src = "../../UI/bugon.jpg" onclick="stop('2')">
    <img class="advanced"id="wateradvanced"  style="position: absolute;width: 20vw;display: none;"class="advanced" alt="Qries" src="../../UI/advanced.jpg" onclick="openDialog()" >
  
    <img class="advanced"id="tempertureadvanced"  style="position: absolute;width: 20vw;display: none;"class="advanced" alt="Qries" src="../../UI/advanced.jpg" onclick="openDialogt()">
    <img id="site" style="position: absolute;width: 20vw;display: none;"alt="Qries" >
    <img id="sitemode" style="position: absolute; width: 20vw;display: none;" alt="Qries" >
    <img class="mode"id="watering"  style="position: absolute;width: 20vw;" alt="Qries" src="../../UI/watering.png" >
    <img class="mode"id="tempertureing"  style="position: absolute;width: 20vw;" alt="Qries" src="../../UI/tempertureing.png" >
    <img class="mode"id="buging"  style="position: absolute;width: 20vw;" alt="Qries" src="../../UI/buging.png" >
    <img class="mode"id="fertiling"  style="position: absolute;width: 20vw;" alt="Qries" src="../../UI/fertiling.png" >
    <img class="mode"id="tsunny"  style="position: absolute;width: 20vw;" alt="Qries" src="../../UI/tsunny.png" >
    <img class="mode"id="tnormal"  style="position: absolute;width: 20vw;" alt="Qries" src="../../UI/tnormal.png" >
    <img class="mode"id="trainy"  style="position: absolute;width: 20vw;" alt="Qries" src="../../UI/trainy.png" >
    <img class="mode"id="tself"  style="position: absolute;width: 20vw;" alt="Qries" src="../../UI/tself.png" onclick="openDialogt2()">
    <img class="mode"id="sunny"  style="position: absolute;width: 20vw;" alt="Qries" src="../../UI/sunny.png" >
    <img class="mode"id="normal"  style="position: absolute;width: 20vw;" alt="Qries" src="../../UI/normal.png" >
    <img class="mode"id="rainy"  style="position: absolute;width: 20vw;" alt="Qries" src="../../UI/rainy.png" >
    <img class="mode"id="self"  style="position: absolute;width: 20vw;" alt="Qries" src="../../UI/self.png" onclick="openDialog2()">
<img class="status"id="tempertureimg"  style="position: absolute;width: 20vw;display: none;" alt="Qries" src="../../UI/tempertureimg.png" >
<img class="status"id="stopimg"  style="position: absolute;width: 20vw;display: none;" alt="Qries" src="../../UI/stopimg.png" >
<img class="status"id="waterimg"  style="position: absolute;width: 20vw;display: none;" alt="Qries" src="../../UI/waterimg.png" >
<img class="status"id="fertileimg"  style="position: absolute;width: 20vw;display: none;" alt="Qries" src="../../UI/fertileimg.png" >
<img class="status"id="bugimg"  style="position: absolute;width: 20vw;display: none;" alt="Qries" src="../../UI/bugimg.png" >
    <img  id="return" style="position: absolute;display: none;"alt="Qries" src="../../UI/return.jpg" onclick="returnbutton()" >
     <ul type="hidden">
<p hidden id ="length"><%=Object.keys(idlist).length%></p>  
<% for (var k in idlist) {%>
  <p hidden  id =<%=k%>><%=idlist[k]%></p>    
  <%}%>
</ul>
</body>
</html>