  <html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
	var name1=[];
	var name2=[];
     name1 = [<%=name%>];
	 name2 = [<%=name2%>];
	 document.write(name1);
	 name1=name1.toString();
	 name2=name2.toString();
	 var res1 = name1.split(",");
	 var res2 = name2.split(",");
      google.charts.load('current', {'packages':['corechart']});
	  google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

	
     function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'time');
      data.addColumn('number', '溫室溫度');
      data.addColumn('number', '溫室濕度');
     //document.write(res1.lenth);
         for (var i = 0; i < res1.length; i++) {
	 data.addRow([i+1,parseInt(res1[i]),parseInt(res2[i])]);
  }
	 

		
  /*
      data.addRows([
        [1,  37.8, 80.8, 41.8],
        [2,  30.9, 69.5, 32.4],
        [3,  25.4,   57, 25.7],
        [4,  11.7, 18.8, 10.5],
        [5,  11.9, 17.6, 10.4],
        [6,   8.8, 13.6,  7.7],
        [7,   7.6, 12.3,  9.6],
        [8,  12.3, 29.2, 10.6],
        [9,  16.9, 42.9, 14.8],
        [10, 12.8, 30.9, 11.6],
        [11,  5.3,  7.9,  4.7],
        [12,  6.6,  8.4,  5.2],
        [13,  4.8,  6.3,  3.6],
        [14,  4.2,  6.2,  3.4]
      ]);
*/
        var options = {
          title: '奧莉薇',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>
</html>