<html>
<TITLE>模式設定</TITLE>

<STYLE type=text/css> .dropdown1{ position: absolute; display:none; width:25vw; height:25vh; } .im{ width:30vw;
    height:30vh; display:none;} .im2{ width:25vw; height:10vh; display:none;} .in{ height:16%; width:23%; FONT-SIZE: 200%; POSITION: absolute; }
    .floatwindowbutton{ height:20%; width:25%; POSITION: absolute; } .floatwindowbutton1{ height:10%; width:10%;
    POSITION: absolute; } .homebutton{ width:30vw; height:20vh; } .ex1{ line-height: 150px; max-width: 100%; display:
    block; text-align: center; } .dd{ width: 15vw; height: 25vh; left:0; display:inline; position:absolute; } </style>
    <style type="text/css">

    #master        { position: absolute; width: 25vw; top: 0vh; left: -30vw; z-index:2; visibility: visible;} 
            #menu        { position: absolute; width: 25vw; top: 0vh; left:30vw; z-index: 6; visibility: visible;} 
            #screen        { position: absolute; width:  20vw; height: 20vh; top: 0vw; left: 0px; z-index: 5; visibility: visible; background: #fcf; } 
            #screenlinks    { position: relative; width: 20vw;  height: 80vh;top: 0vh; left: 0vw; background: #ffc; border: 1vw solid #77f; margin: 0px; padding: 2px 0 0; z-index:5; visibility:visible;} 
            #screenlinks dd    { margin: 0; padding: 0 0 1vw 5vh; } 
            
            </style>

<head>
    <meta name="viewport" content="user-scalable=0">

    <meta name="viewport" content="user-scalable=no">
    <META http-equiv=Content-Type content="text/html; charset=utf-8" name="viewport"
        content="width=device-width, maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <STYLE type=text/css> HTML { HEIGHT: 100% } BODY { HEIGHT: 100% } BODY { FONT-SIZE: 14px; FONT-FAMILY: Tahoma,
        Verdana, sans-serif } DIV.neat-dialog-cont { Z-INDEX: 98; BACKGROUND: none transparent scroll repeat 0% 0%;
        LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100% } DIV.neat-dialog-bg { Z-INDEX: -1; FILTER:
        alpha(opacity=70); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #eee;
        opacity: 0.7 } DIV.neat-dialog { BORDER-RIGHT: #555 1px solid; BORDER-TOP: #555 1px solid; Z-INDEX: 99;
        MARGIN-LEFT: auto; BORDER-LEFT: #555 1px solid; HEIGHT: 80%; WIDTH: 100%; MARGIN-RIGHT: auto; BORDER-BOTTOM:
        #555 1px solid; POSITION: relative; TOP: 10%; BACKGROUND-COLOR: #fff } DIV.neat-dialog-title { PADDING-RIGHT:
        0.3em; PADDING-LEFT: 0.3em; FONT-SIZE:200%; PADDING-BOTTOM: 0.1em; MARGIN: 0px; LINE-HEIGHT: 1.2em; HEIGHT: 10%;
        PADDING-TOP: 0.1em; BORDER-BOTTOM: #444 1px solid; POSITION: relative } IMG.nd-cancel { RIGHT: 0.2em; POSITION:
        absolute; TOP: 0.2em } DIV.neat-dialog P { PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em;
        PADDING-TOP: 0.2em; TEXT-ALIGN: center } </STYLE> <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script src="liff-starter.js">

    </script>
        

        <script type="text/javascript">
            function NeatDialog(sHTML, sTitle, bCancel) {
                window.neatDialog = null;
                this.elt = null;
                if (document.createElement && document.getElementById) {
                    var dg = document.createElement("div");
                    dg.className = "neat-dialog";
                    if (sTitle)
                        sHTML = '<div class="neat-dialog-title">' + sTitle +
                            ((bCancel) ?
                                '<img src="x.gif" alt="Cancel" class="nd-cancel" />' : '') +
                            '</div>\n' + sHTML;
                    dg.innerHTML = sHTML;
                    var dbg = document.createElement("div");
                    dbg.id = "nd-bdg";
                    dbg.className = "neat-dialog-bg";
                    var dgc = document.createElement("div");
                    dgc.className = "neat-dialog-cont";
                    dgc.appendChild(dbg);
                    dgc.appendChild(dg);
                    if (document.body.offsetLeft > 0)
                        dgc.style.marginLeft = document.body.offsetLeft + "px";
                    document.body.appendChild(dgc);
                    if (bCancel) document.getElementById("nd-cancel").onclick = function () {
                        window.neatDialog.close();
                    };
                    this.elt = dgc;
                    window.neatDialog = this;
                }
            }
            NeatDialog.prototype.close = function () {
                if (this.elt) {
                    this.elt.style.display = "none";
                    this.elt.parentNode.removeChild(this.elt);
                }
                window.neatDialog = null;
            }
            function openDialog() {
                var sHTML = '<form  name="theForm" id="set" action="./' + id + '/self">' +
                    '<image  img src=./image/selfmenu.jpg style="top:0vh;left:1vw;width:98%;height:95%;position:absolute">' +
                    '<input id="hour" style="left:22vw;top:22vh"class ="in" type="text" name="hourmin" value=' + hourmin + '></input>' +
                    '<input class ="in" style="right:8vw;top:22vh"type="text" name="hourmax" value=' + hourmax + '></input>' +
                    '<input class ="in" style="left:26vw;top:36vh"type="text" name="minuteset" value=' + minuteset + '></input>' +
                    '<input class ="in" style="right:3vw;vw;top:36vh"type="text" name="minute_amount" value=' + minute_amount + '></input>' +
                    '<button class ="floatwindowbutton" onclick="limit()"style="margin:0px auto;text-align:center;bottom:2vh;left:38%;position:absolute" type="button" value="確定" ><img  style="top:0;left:0;width:100%;height:100%;position:absolute" src="./image/certain.jpg"></button>' +
                    '<button  class ="floatwindowbutton1"style="top:0vh;right:0vw;position:absolute"  formaction="./zhengtian"><img   style="top:0;right:0;width:100%;height:100%;position:absolute"src="./image/close.jpg"></button></form>';

                new NeatDialog(sHTML, false, false);
            }
            var id = "1123";
            var weather = "<%-name%>";
            var control = "<%-control%>";
            //control =<%-control%>;
            var hourmax = "<%-hourmax%>";
            var hourmin = "<%-hourmin%>";
            var minuteset = "<%-minuteset%>";
            var minute_amount = "<%-minute_amount%>";
            function dropdown() {
                if (document.getElementById("downbackground").style.display == "block") {
                    document.getElementById("downbackground").style.display = "none";
                    document.getElementsByClassName('dropdown1')[0].style.display = 'none';
                    document.getElementsByClassName('dropdown1')[1].style.display = 'none';
                    document.getElementsByClassName('dropdown1')[2].style.display = 'none';
                    document.getElementsByClassName('dropdown1')[3].style.display = 'none';
                    document.getElementsByClassName('dd')[0].style.display = 'none';
                    document.getElementsByClassName('dd')[1].style.display = 'none';
                    document.getElementsByClassName('dd')[2].style.display = 'none';
                    document.getElementsByClassName('dd')[3].style.display = 'none';
                    document.getElementById("downbackground").style.display = "none";

                } else {
                    document.getElementById("downbackground").style.display = "block";
                    document.getElementsByClassName('dropdown1')[0].style.display = 'block';
                    document.getElementsByClassName('dropdown1')[1].style.display = 'block';
                    document.getElementsByClassName('dropdown1')[2].style.display = 'block';
                    document.getElementsByClassName('dropdown1')[3].style.display = 'block';

                }
            }
            function dropdown2() {
                // window.alert("?");
                if (document.getElementsByClassName('dd')[0].style.display == "block") {
                    document.getElementsByClassName('dd')[0].style.display = 'none';
                    document.getElementsByClassName('dd')[1].style.display = 'none';
                    document.getElementsByClassName('dd')[2].style.display = 'none';
                    document.getElementsByClassName('dd')[3].style.display = 'none';
                } else {
                    document.getElementsByClassName('dd')[0].style.display = 'block';
                    document.getElementsByClassName('dd')[1].style.display = 'block';
                    document.getElementsByClassName('dd')[2].style.display = 'block';
                    document.getElementsByClassName('dd')[3].style.display = 'block';
                }
            }
            function checkRate(nubmer) {
                //判斷正整數/[1−9]+[0−9]∗]∗/
                var re = /^[0-9]+.?[0-9]*/;//
                if (!re.test(nubmer)) {
                    return false;
                }
                return true;
            }

            function limit() {
                var frm = document.forms["theForm"];
                // alert(frm.hourmin.value);
                try {
                    var hourmax = parseInt(frm.hourmax.value);
                    var hourmin = parseInt(frm.hourmin.value);
                    var minuteset = parseInt(frm.minuteset.value);
                    var minute_amount = parseInt(frm.minute_amount.value);
                    //alert(typeof(minute_amount)); 
                    if (hourmin > hourmax || hourmin > 24 || hourmax > 24 || hourmin < 0 || hourmax < 0) {
                        alert("發生錯誤..時間為24小時制喔!");
                    } else if (minuteset < minute_amount) {
                        alert("持續時間不能大於間隔時間喔!");
                    }
                    else if (checkRate(frm.hourmin.value) == false || checkRate(hourmax) == false || checkRate(minuteset) == false || checkRate(minute_amount) == false) {
                        alert("你一定再跟我開玩笑~");
                    }
                    else {
                        frm.submit();
                    }
                }
                catch (err) {
                    alert("你一定再跟我開玩笑~" + err);
                }


            }
            function self() {
                openDialog();
            }
            function manual() {
                liff.sendMessages([{
                    'type': 'text',
                    'text': "手動"
                }]);
                liff.closeWindow();
            }
            function stop() {
                if (weather == "晴天" || weather == "雨天" || weather == "陰天" || weather == "自訂") {
                    //  alert("已切回手動")
                    liff.sendMessages([{
                        type: 'text',
                        text: '停止供水'
                    }]);
                    liff.sendMessages([{
                        'type': 'text',
                        'text': '手動'
                    }]);
                    liff.closeWindow();

                }
                else {
                    liff.sendMessages([{
                        'type': 'text',
                        'text': '停止' + weather
                    }]);
                    liff.sendMessages([{
                        'type': 'text',
                        'text': '手動'
                    }]);
                    liff.closeWindow();

                }
            }
        </script>
        <script type="text/javascript">
            var id = "1123";
            var weather = "<%-name%>";
            var control = "<%-control%>";
            //control =<%-control%>;
            var hourmax = "<%-hourmax%>";
            var hourmin = "<%-hourmin%>";
            var minuteset = "<%-minuteset%>";
            var minute_amount = "<%-minute_amount%>";
            var lid='<%-lid%>';
            function initializeLiff() {
                 document.getElementById("ShowBox").style.display = "none";
                        document.getElementById("liffAppContent").style.display = "none";
                        document.getElementById("liffInitErrorMessage").style.display = "none";
                //obj = obj.split();
                weather = weather.split(",");
                control = control.split(",");
                hourmax = hourmax.split(",");
                hourmin = hourmin.split(",");
                minuteset = minuteset.split(",");
                minute_amount = minute_amount.split(",");
                
                userid = document.getElementById('1').innerText.split(",");
             
                l = document.getElementById('length').innerText;
                
                // document.getElementById('ShowBox').innerHTML =userid[0]+userid.length+l+weather[1];
                document.getElementById('ShowBox').innerHTML = "start";
                liff
                    .init({
                        liffId:lid
                    })
                    .then(() => {
                        document.getElementById('ShowBox').innerHTML = "login";
                        if (!liff.isLoggedIn()) {
                            liff.login();
                        }

                        // start to use LIFF's api
                        // initializeApp();
                    })
                    .catch((err) => {
                        document.getElementById('ShowBox').innerHTML = err;
                        alert(err);
                        document.getElementById("liffAppContent").classList.add('hidden');
                        document.getElementById("liffInitErrorMessage").classList.remove('hidden');
                    });

                liff.isInClient();
                liff.getOS();
                document.getElementById('ShowBox').innerHTML = "get";
                liff.getProfile()
                    .then(profile => {


                        id = profile.userId;
                        document.getElementById("ShowBox").value = id;
                        for (i = 0; i < l; i++) {

                            userid = document.getElementById(String(i)).innerText.split(",");
                            document.getElementById('liffAppContent').innerHTML = id + control;
                            for (j = 0; j < userid.length; j++) {
                                if (userid[j] == id) {

                                    hourmax = hourmax[i];
                                    hourmin = hourmin[i];
                                    minuteset = minuteset[i];
                                    minute_amount = minute_amount[i];
                                    if (weather[i] != "晴天" && weather[i] != "雨天" && weather[i] != "陰天" && weather[i] != "自訂") {
                                        
                                            liff.sendMessages([{
                                                'type': 'text',
                                                'text': weather[i]
                                            }]);

                                    }
                                    else {
                                        liff.sendMessages([{
                                            'type': 'text',
                                            'text': weather[i]
                                        }]);
                                    }

                                    if (weather[i] == "晴天") {
                                        document.getElementById('sunnyimg').style.display = "block";
                                    }
                                    else {
                                        document.getElementById('sunnyimg').style.display = "none";
                                    }
                                    if (weather[i] == "陰天") {
                                        document.getElementById('normalimg').style.display = "block";
                                    }
                                    else {
                                        document.getElementById('normalimg').style.display = "none";
                                    }
                                    if (weather[i] == "雨天") {
                                        document.getElementById('rainyimg').style.display = "block";
                                    }
                                    else {
                                        document.getElementById('rainyimg').style.display = "none";
                                    }
                                    if (weather[i] == "自訂") {
                                        document.getElementById('selfmode').style.display = "block";
                                    }
                                    else {
                                        document.getElementById('selfmode').style.display = "none";
                                    }
                                    if (weather[i] == "降溫") {
                                        document.getElementById('temperturemode').style.display = "block";
                                    }
                                    else {
                                        document.getElementById('temperturemode').style.display = "none";
                                    }
                                    if (weather[i] == "除蟲") {
                                        document.getElementById('medicinemode').style.display = "block";
                                    }
                                    else {
                                        document.getElementById('medicinemode').style.display = "none";
                                    }
                                    if (weather[i] == "噴肥") {
                                        document.getElementById('fertilemode').style.display = "block";
                                    }
                                    else {
                                        document.getElementById('fertilemode').style.display = "none";
                                    }

                                    if (control[i * 4] == "0") {

                                        document.getElementById('stopimg').style.display = "block";

                                    }
                                    else {

                                        document.getElementById('stopimg').style.display = "none";

                                    }
                                    if (control[i * 4] == "1") {
                                        document.getElementById('waterimg').style.display = "block";

                                    }
                                    else {
                                        document.getElementById('waterimg').style.display = "none";
                                    }

                                    if (control[i * 4] == "2") {
                                        document.getElementById('tempertureimg').style.display = "block";

                                    }
                                    else {
                                        document.getElementById('tempertureimg').style.display = "none";
                                    }
                                    if (control[i * 4] == "3") {
                                        document.getElementById('medicineimg').style.display = "block";

                                    }
                                    else {
                                        document.getElementById('medicineimg').style.display = "none";
                                    }
                                    if (control[i * 4] == "4") {
                                        document.getElementById('fertileimg').style.display = "block";

                                    }
                                    else {
                                        document.getElementById('fertileimg').style.display = "none";
                                    }
                                    weather = weather[i];

                                }
                            }
                        }
                        document.getElementById('ShowBox').innerHTML = id;
                        document.getElementById('sunny').href = "/zhengtian/" + id + "/sunny";
                        document.getElementById('rainy').href = "/zhengtian/" + id + "/rainy";
                        document.getElementById('normal').href = "/zhengtian/" + id + "/normal";
                        //document.getElementById('self').formAction = id + "/self";
                        //document.getElementById('manual').href = "/zhengtian/"+id + "/manual";
                        //   document.getElementById('water').formAction = id + "/water";
                        document.getElementById('medicine').href = "/zhengtian/" + id + "/medicine";
                        //document.getElementById('stop').href = "/zhengtian/" + id + "/manual";
                        document.getElementById('temperture').href = "/zhengtian/" + id + "/temperture";
                        document.getElementById('fertile').href = "/zhengtian/" + id + "/fertile";

                            document.getElementById("fertile").onclick = function () {
                          
                            //confirm('模式：晴天 (每半小時一次）')

                            if (confirm('立即開始模式：噴肥')) {
                                document.getElementById('fertile').href = "/zhengtian/" + id + "/fertile";

                            }
                            else {
                                document.getElementById('fertile').href = "#";
                            }
                        }
                         document.getElementById("temperture").onclick = function () {
                          
                            //confirm('模式：晴天 (每半小時一次）')

                            if (confirm('立即開始模式：降溫')) {
                                document.getElementById('temperture').href = "/zhengtian/" + id + "/temperture";

                            }
                            else {
                                document.getElementById('temperture').href = "#";
                            }
                        }
                         document.getElementById("medicine").onclick = function () {
                          
                            //confirm('模式：晴天 (每半小時一次）')

                            if (confirm('立即開始模式：除蟲')) {
                                document.getElementById('medicine').href = "/zhengtian/" + id + "/medicine";

                            }
                            else {
                                document.getElementById('medicine').href = "#";
                            }
                        }
                        document.getElementById("sunny").onclick = function () {
                          
                            //confirm('模式：晴天 (每半小時一次）')

                            if (confirm('模式：晴天 (早上六點至晚上六點每半小時一次）')) {
                                document.getElementById('sunny').href = "/zhengtian/" + id + "/sunny";

                            }
                            else {
                                document.getElementById('sunny').href = "#";
                            }
                        }
                      
                        document.getElementById("rainy").onclick = function () {
                            if (confirm('模式：雨天 (中午一次）')) {
                                document.getElementById('rainy').href = "/zhengtian/" + id + "/rainy";

                            }
                            else {
                                document.getElementById('rainy').href = "#";
                            }
                        }
                        document.getElementById("normal").onclick = function () {
                            if (confirm('模式：陰天 (早、晚各一次）')) {
                                document.getElementById('normal').href = "/zhengtian/" + id + "/normal";

                            }
                            else {
                                document.getElementById('normal').href = "#";
                            }
                        }
                        document.getElementById("self").onclick = function () {

                            openDialog();
                        }

                        //liff.closeWindow();
                        //document.getElementById('sunny').innerHTML="4/sunny";
                       
                    })
                    .catch((err) => {
                        alert(err);
                        console.log('error', err);
                        document.getElementById('ShowBox').innerHTML = err;

                    });

            }
        </script>
</head>

<body onload="initializeLiff()">
<span id="ShowBox"></span>
    <span id="liffAppContent"></span>
    <span id="liffInitErrorMessage"></span>
        <img  class="ex1" style="top:0;position: absolute;margin:0px auto;text-align:center;width: 100vw;height: 100vh;"alt="Qries" src="./image/home.png">
        <img class="im"id="sunnyimg"img src=./image/sunnyimg.jpg style="position: absolute; top:20vh;left:60vw ;">
        <img class="im"id="normalimg"img src=./image/normalimg.jpg style="position: absolute; top:20vh;left:60vw ;">
        <img class="im"id="rainyimg"img src=./image/rainyimg.jpg style="position: absolute; top:20vh;left:60vw ;">
        <img class="im"id="selfmode"img src=./image/selfmode.png style="position: absolute; top:20vh;left:60vw ;" onclick="openDialog()">
        <img class="im"id="fertilemode"img src=./image/fertilemode.jpg style="position: absolute; top:20vh;left:60vw ;">
        <img class="im"id="medicinemode"img src=./image/medicinemode.png style="position: absolute; top:20vh;left:60vw ;">
        <img class="im"id="temperturemode"img src=./image/temperturemode.jpg style="position: absolute; top:20vh;left:60vw ;">
        <img class="im2"id="stopimg"img src=./image/stopimg.jpg style="position: absolute; top:75vh;right:10vw ;">
        <img class="im2"id="medicineimg"img src=./image/medicineimg.png style="position: absolute; top:75vh;right:10vw ;">
        <img class="im2"id="fertileimg"img src=./image/fertileimg.jpg style="position: absolute; top:75vh;right:10vw ;">
        <img class="im2"id="tempertureimg"img src=./image/tempertureimg.jpg style="position: absolute; top:75vh;right:10vw ;">
        <img class="im2"id="waterimg"img src=./image/waterimg.jpg style="position: absolute; top:75vh;right:10vw ;">
        <a   id="choose"value="選擇模式" style="position:relative;top:0;left:5vw;" onclick="dropdown()">
                <img  style="width:35vw;height:22vh;" alt="Qries" src="./image/choose.jpg">
            </a>
            <a  id="stop"style="position: relative;left:-28vw;bottom:-62vh;"onclick="stop()" >
                <img  class="homebutton" alt="Qries" src="./image/stop.png" >
            </a>
            
        <div class ="dropdown"style="position:absolute;width:40vw;height:0vh;left:-2vw;top:35vh;" >
            
                <img id="downbackground" img src=./image/down.jpg style="display:none;width:80vw;height:80vh;left:10vw;top:-15vh;position: relative;">
                    <a  id="medicine"    style="right:-12vw;bottom:-30vh;position: absolute;">
                            <img  class="dropdown1"  alt="Qries" src="./image/medicine.png">
                         </a>
                        <a   id="water" style="right:-12vw;top:0vh;position: absolute;" onclick="dropdown2()" >
                            <img    class="dropdown1"alt="Qries" src=./image/water.png>
                            
                         </a>
                        <a id="fertile" style="left:17vw;top:0vh;position: absolute;" >
                            <img  class="dropdown1" alt="Qries" src=./image/fertile.png>
                         </a> 
                        <a id="temperture"  style="left:17vw;bottom:-30vh;position: absolute;">
                            <img  class="dropdown1" alt="Qries" src=./image/temperture.png>
                        </a>  
                       <div  style="position:relative;width:60vw;height:0vh;left:30;">
                                <a id="sunny"style="left:25vw;top:-50vh;padding: 0px 0px;position:absolute">
                                    <img  style="left:0vw;display: none;" class="dd"alt="Qries" src="./image/sunny.png">
                                 </a >
                                 <a id="normal"style="left:40vw;top:-50vh;padding: 0px 0px;position:absolute">
                                    <img class="dd" style="left:0vw;display: none;" alt="Qries" src="./image/normal.png">
                                 </a>
                                <a id="rainy"style="left:55vw;top:-50vh;padding: 0px 0px;position:absolute">
                                <img class="dd"style="left:0vw;display: none;"alt="Qries" src="./image/rainy.png">
                                </a>
                                <a id="self"style="left:70vw;top:-50vh;padding: 0px 0px;position:absolute">
                                <img class="dd"style="left:0vw;display: none;" onclick="self()" alt="Qries" src="./image/self.png">
                                 </a>      
                        </div>
                        
        </div>
        
        <ul type="hidden">
    <%//for (var i in idlist){%>
<%//for (var j in idlist[i]){%>
<%//for (var k in idlist[i][j]){%>
<p hidden id ="length"><%=Object.keys(idlist).length%></p>  
<% for (var i in idlist) {%>
<% for (var k in idlist[i]["id"]) {%>
  <p hidden  id =<%=i%>><%=idlist[i]["id"]%></p>    
  <%}%>
  <%}%>

  

  <%//}%>
</ul>
</body>
</html>