<!DOCTYPE html>
<html>
 <head>
  <title>World population</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
  <body>
    <div class="wrapper">
      <h1>World population over time</h1>
      <h2>Number of people (in millions) living on earth, the last 500 years</h2>

<canvas id="myChart" width="1600" height="900"></canvas>
    </div>

    <script src="script.js"></script>
  </body>
</html>